<% provide(:title, "Top") %>
<div class="center jumbotron">
  <h1>勤怠システム</h1>
  <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
  <p>アカウント作成は<%= link_to "こちら", signup_path, class: "hover" %>から</p>
</div>

<footer class="bordered-line">
  <p>
    <span class="footer-p">The Ruby on Rails Tutorial by Michael Hartl</span>
    <span class="footer-li">News</span>
    <span class="footer-li">Contact</span>
    <span class="footer-li">About</span>
  </p>
</footer>