<% provide(:title, @user.name) %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>勤怠ログ</h1>
    
    <div class="user-log">
      <%= link_to "リセット", "#", class: "btn btn-primary" %>
    
   
    </div>
    
  </div>
</div>
