<% provide(:title, 'All Users') %>
<h1>ユーザ一覧</h1>

<%= render 'search' %>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
    <%= render 'index_user', user: @user %>
  <%= will_paginate %>
</div>

