/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

/* ユーザー情報下ボタン */

.btn-users-show {
  margin-top: -10px;
  margin-bottom: 10px;
}

/* ユーザー勤怠情報テーブル */

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

.table-show {
    vertical-align: middle;
    text-align: center;
}

.user-table {
  vertical-align: middle;
  text-align: center;  
  font-weight: bold;
}

.s-tbl {
	border-collapse: collapse;
}
.s-tbl th, .s-tbl td {
	border: 1px solid #000;
}
.s-tbl tr:nth-child(even) {
	background: #eee;
}


/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.text-label {
  background-color: #FFFF99;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }  
}

/* 基本情報編集モーダルウインドウ */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}

/* 検索フォーム */

.p-search {
  text-align: right;
  margin-right: 105px;
  font-weight: bold;
}

.text-search {
  display: inline;
  width: 150px;
  float: right;
  margin-right: 10px;
}

.btn-search {
  display: inline;
  float: right;
}

/* 勤怠A　*/
.user-edit {
  background-color: #C0C0C0;
}

.user-index {
  list-style: none;
}