<div class="container">
    <h1>拠点一覧</h1>
<div>
  <table class="table table-bordered table-condensed base-table">
    <tbody><tr>
      <td></td>
      <td></td>
      <td>拠点番号</td>
      <td>拠点名</td>
      <td>勤怠種類</td>
    </tr>
    <tr>
      <td><a class="btn btn-primary btn-edit">修正</a></td>
      <td><a data-confirm="削除してよろしいですか？" class="btn btn-primary btn-edit">削除</a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody></table>
  <div class="new-point-button-area">
  <a class="btn btn-lg btn-primary btn-add">拠点情報追加</a>
  </div>
</div>
    
    </div>
